@import '../../../styles/variables.scss';

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 3px solid $color-grey;
  padding: 30px 0 20px;

  @include screen-tablet-landscape-and-bigger {
    flex-direction: row;
  }

  &__categories {
    &-list {
      display: flex;
      overflow: auto;
      padding-bottom: 20px;
      margin-bottom: 10px;

      @include screen-tablet-landscape-and-bigger {
        padding-bottom: 0;
        margin-bottom: 0;
        overflow: initial;
      }
    }

    &-item {
      position: relative;
      margin-right: 30px;
      color: white;
      cursor: pointer;

      &--active,
      &:hover {
        color: $color-red;
      }

      @include screen-tablet-landscape-and-bigger {
        &--active,
        &:hover {
          color: white;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -23px;
            width: 100%;
            height: 1px;
            border-bottom: 3px solid $color-red;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__select {
    display: flex;

    &-label {
      margin-right: 20px;
      color: $color-light-grey;
    }

    &-dropdown {
      font-size: 16px;
      cursor: pointer;
      padding-right: 20px;
      color: $color-white;
      background-color: transparent;
      border: none;

      option {
        background-color: $color-dark-grey;
      }
    }
  }
}