@import '../../styles/variables.scss';

.not-found {
  padding: 20px 40px;
  height: calc(100vh - 60px);
  background-color: $color-dark-grey;

  &__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: normal;
    font-size: 48px;
  }

  &__code {
    margin-top: 20px;
    font-size: 200px;
    letter-spacing: 20px;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px $color-red,
      0 0 20px $color-red,
  }

  &__home-button {
    margin-top: 80px;
  }
}
