@import '../../styles/variables.scss';

.page-footer {
  height: 60px;
  background-color: $color-light-grey;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}