@import '../../../../styles/variables.scss';

.movie-card {
  position: relative;
  margin-bottom: 50px;

  @include screen-mobile-plus-and-bigger {
    width: calc(100% / 2 - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }

  @include screen-tablet-portrait-and-bigger {
    width: calc(100% / 3 - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }

  &__image-wrapper {
    margin-bottom: 15px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 10px;
    color: $color-white;
  }

  &__genre {
    color: $color-light-grey;
  }

  &__year {
    padding: 5px 10px;
    border: 1px solid $color-light-grey;
    border-radius: 5px;
    color: $color-white;
  }

  .movie-card__info-button {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0, 0.8);
    transform: rotate(90deg);
    font-size: 15px; 
    letter-spacing: 4px;
    margin-top: 2px;
  }

  &:hover .movie-card__info-button {
    display: flex;
  }

  &__info-popup {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60%;
    background-color: $color-dark-grey;
    padding: 30px 0px 10px;
  }
}