@import './variables.scss';

.container {
  max-width: 1276px;
  margin: auto;
  padding: 0px 45px;

  @include screen-mobile-plus-and-smaller {
    padding: 0px 20px;
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
  }

  &__content {
    position: relative;
    max-width: 600px;
    max-height: calc(100vh - 50px);
    overflow: auto;
    margin: 50px auto 0;
    padding: 40px;
    background: $color-dark-grey;
  }

  &__title {
    margin-bottom: 40px;
    text-align: left;
    color: $color-white;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 22px;
    color: $color-white;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    width: 150px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
 
  &__close-button {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 10px;
    color: $color-white;
    font-size: 26px;
  }

  &__form {
    &-label {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
      color: $color-red;
    }

    &-input {
      width: 100%;
      margin-bottom: 20px;
      font-size: 18px;
      padding: 10px;
      color: $color-white;
      background-color: $color-light-grey;
      border: none;

      &:disabled {
        cursor: text;
        padding-left: 0;
        background-color: transparent;
      }
    }

    &-error {
      color: red;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}